<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-address-heading" data-cy="AddressCreateUpdateHeading">Create or edit a Address</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_aid">Aid</label>
          <input type="text" class="form-control" name="aid" id="field_aid" data-cy="aid" formControlName="aid" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_street">Street</label>
          <input type="text" class="form-control" name="street" id="field_street" data-cy="street" formControlName="street" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_citi">Citi</label>
          <input type="text" class="form-control" name="citi" id="field_citi" data-cy="citi" formControlName="citi" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_onetoone">Onetoone</label>
          <select
            class="form-control"
            id="field_onetoone"
            data-cy="onetoone"
            name="onetoone"
            formControlName="onetoone"
            [compareWith]="compareAddress"
          >
            <option [ngValue]="null"></option>
            @for (addressOption of addressesSharedCollection; track $index) {
              <option [ngValue]="addressOption">{{ addressOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
